---
import Section from "../Section.astro";

import { basics } from "@cv";
const { summary, summary_second } = basics;
---

<Section title="My profil">
	<p>
		{summary}
	</p>
	<p>
		{summary_second}
	</p>
</Section>
