---
import Section from "../Section.astro";
import HTML from "@/icons/Programming/frontend/html.astro";
import CSS from "@/icons/Programming/frontend/css.astro";
import JavaScript from "@/icons/Programming/frontend/javascript.astro";
import TypeScript from "@/icons/type.astro";
import NodeJS from "@/icons/Programming/backend/node.astro";
import Git from "@/icons/Programming/git.astro";
import GitHub from "../../icons/Programming/github.astro";
import { skills } from "@cv";
import SpringBoot from "@/icons/Programming/backend/springboot.astro";
import MongoDB from "@/icons/Programming/backend/mongodb.astro";
import ExpressJS from "@/icons/Programming/backend/expressjs.astro";
import Mongoose from "@/icons//Programming/backend/mongoose.astro";
import Java from "@/icons//Programming/backend/java.astro";
import Jest from "@/icons//Programming/jest.astro";
import SQL from "@/icons//Programming/backend/sql.astro";
import  PostgreSQL from "@/icons//Programming/backend/postgresql.astro";
import Maven from "@/icons//Programming/CI-CD/maven.astro";
import Gradle from "@/icons//Programming/CI-CD/gradle.astro";
import Angular from "@/icons//Programming/frontend/angular.astro";
import SASS from "@/icons//Programming/frontend/sass.astro";
import JUnit from "@/icons//Programming/backend/junit.astro";
import macOS from "@/icons//Programming/system_exploitation/macos.astro";
import Windows from "@/icons//Programming/system_exploitation/windows.astro";
import Linux from "@/icons//Programming/system_exploitation/linux.astro";
import Tests from "@/icons//test.astro";

const SKILLS_ICONS: Record<string, any> = {
  NodeJS,
	ExpressJS,
	MongoDB,
	Mongoose,
	Jest,
	Java,
	SpringBoot,
	HTML,
	CSS,
	JavaScript,
	TypeScript,
	Git,
	GitHub,
	SQL,
	PostgreSQL,
	Maven,
	Gradle,
	Angular,
	SASS,
	JUnit,
	macOS,
	Windows,
	Linux,
	Tests,
};
---

<Section className={Astro.props.className} title="Compétences">
	<ul class="[&>li>svg]:text-skin-hue inline-flex flex-wrap gap-6 [&>li>svg]:size-5 [&>li]:text-sm">
		{
			skills.map(({ name }) => {
				const iconName = name === "Next.js" ? "Next" : name;
				const Icon = SKILLS_ICONS[iconName];

				return (
					<li class="border-skin-hue/20s bg-skin-button-accent/20s borders border-solids flex items-center gap-1 rounded-md px-2 py-0.5 text-xs text-skin-muted print:border-none print:bg-transparent print:p-0 print:text-zinc-800">
						{Icon && <Icon />} <span>{name}</span>
					</li>
				);
			})
		}
	</ul>
</Section>
