---
import Layout from "@/layouts/Layout.astro";

import Hero from "@/components/sections/Hero.astro";
import Tail from "@/components/sections/Tail.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";


import { basics } from "@cv";
import Navbar from "../components/navbar/navbar.astro";
import SkillsSection from "../components/sections/Skills.astro";
import Interest from "../components/sections/Interest.astro";
import Languages from "../components/sections/Languages.astro";

const { name, label } = basics;
---

<Layout title={`${name} Portfolio - ${label}`}>
	<Navbar />
	<main class="relative grid max-w-7xl gap-12 p-8 max-sm:py-16 md:grid-cols-6 md:p-16 xl:gap-24 print:max-w-none print:grid-cols-1 print:gap-6">
		<div class="space-y-6 md:col-span-2 print:col-span-1 print:grid print:grid-cols-2 print:gap-5 print:space-y-0">
			<Hero />
		</div>
		<div class="space-y-12 md:col-span-4 print:col-span-1 print:grid print:grid-cols-4 print:gap-2 print:space-y-0">
			<SkillsSection className="print:hidden" />
			<Interest className="print:hidden" />
			<Languages className="print:hidden" />
		</div>
		<Tail />
	</main>

	<KeyboardManager />
</Layout>

<style>
	@page {
		size: auto;
		margin: 0;
	}
	main {
		margin: auto;
		width: 100%;
	}
</style>
